.bookmarks{
    &__list{
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        gap: 20px;

        a{
            &:focus{
                .item{
                    border-color: var(--main-color);
                }
            }
        }
    }
}
