.bookmarks{

    &__list{
        // width: 100%;
        // max-width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 2;
    }
}

.item{
    &.active{
        border-color: var(--caret-color);
    }
    &:hover{
        border-color: var(--caret-color);
    }
}