@mixin size($multiplier){
    height: calc(48px * $multiplier);
    width: calc(48px * $multiplier);
    font-size: calc(30px * ($multiplier + 0.2));

}

.bookmark{
    background: transparent;
    color: var(--main-color);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--btn-font-size);
    border: 2px solid var(--sub-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 0 5px;
    @include size(1);

    &_normal{
        @include size(1)
    }
    
    &_slim{
        @include size(.9)
    }
    &_large{
        @include size(1.3)

    }

    &.imageFile{
        padding: 1px;
    }

    &_gen{
        color: var(--caret-color);
        line-height: 100%;
        text-align: center;
        z-index: 1;
        .icon{
            display: block;
            transform: rotate(180deg);
        }
    }
    &__image{
        -webkit-user-drag: none;
        border-radius: 3px;
        width: 100%;
        height: 100%;
    }
}