.input{
    border-radius: var(--border-radius);
    box-sizing: border-box;
    background: transparent;
    color: var(--text-color);
    height: 40px;
    width: 100%;
    max-width: 370px;
    outline: none;
    padding: 5px;
    font-weight: 500;
    font-size: large;
    border: 2px solid;
    border-color: var(--sub-color);
    caret-color: var(--main-color);
    &::placeholder{
        color: var(--sub-color);
    }
    &:focus{
        transition: .2s;
    }
}
.label{
    color: var(--sub-color);
    font-size: large;
    cursor: pointer;
        &_active{
            color: var(--text-color);
            transition: .2s;
        }
}
.submit{
    color: var(--sub-color);
    border-color: transparent;
    &[data-status="true"]{
        cursor: pointer;
        color: var(--main-color);
        &:focus{
            border-color: var(--main-color);
        }
        &:hover{
            border-color: var(--main-color);
        }
        
        &:active{
            opacity: .8;
            transition: 0s;
        }
    }
}

