@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExtraBold.woff2') format('woff2'),
        url('Inconsolata-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

