.input{
    border: none;
    border-radius: var(--border-radius);
    background: transparent;
    color: var(--text-color);
    height: 30px;
    width: auto;
    outline: none;
    min-width: 300px;
    padding: 5px;
    font-weight: 500;
    font-size: large;
    box-sizing: content-box;
    border: 2px solid;
    border-color: var(--sub-color);
    caret-color: var(--main-color);
    &::placeholder{
        color: var(--sub-color);
    }
    &:focus{
        transition: .2s;
    }

}
.label{
    color: var(--sub-color);
    font-size: large;
    cursor: pointer;
    &_active{
        color: var(--text-color);
        transition: .2s;
    }
}

.submit{
    color: var(--sub-color);

    &[data-status="true"]{
        cursor: pointer;
        color: var(--main-color);

        &:focus{
            border-color: transparent;
        }
        &:hover{
            border-color: var(--main-color);
        }
        
        &:active{
            opacity: .8;
            transition: 0s;
        }
    }
}
