#customBackground{
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -999;
    img{
        width: calc(100% + 0rem);
        height: calc(100% + 0rem);
        left: 0rem;
        top: 0rem;
        position: absolute;
        object-fit: cover;
    }
}