@font-face {
    font-family: 'Arkhip';
    src: url('Arkhip.woff2') format('woff2'),
        url('Arkhip.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

