.docs{
    position: absolute;
    width: 70%;
    left: 50%;
    bottom: 0;
    padding: 10px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;

    color: var(--sub-color);
    font-size: .85rem;
    pointer-events: none;
    opacity: .7;

    transform: translate(-50%);
    z-index: 100;
    &.hidden{
        opacity: 0;
        transition: .3s;
    }
    div{
        text-align: center;
        padding: 5px;
    };

}