.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000040;
    display: none;

    z-index: 1000;
    &.active{
        display: flex;
    }
    
    &__content{
    
        padding: 40px;
        border-radius: var(--border-radius);
        background: #000;
        form{
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-self: center;
            align-items: center;
            width: 100%;
            height: 100%;

        }
        .image_container{
            display: grid;
            grid-template-columns: 1fr 40px;
            grid-template-rows: 40px;
            gap: 10px;
        }

    }
}