.authorLink{
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: .85em;
    @media screen and (max-height: 500px) {
        display: none;
    }
    span{
        color: var(--sub-color);
        z-index: 2;
    }
    .slider{
        z-index: 1;
        display: flex;
        align-items: center;
        gap: 5px;
        transform: translate(0, 100%);
        overflow: hidden;
        transition: .2s;
        &.active{
            transform: none;
            transition: .3s;
        }
        a{
            display: inline-flex;
            padding: 10px;
            gap: 5px;
            overflow: hidden;
            &:hover{
                overflow: visible;
                transition-delay: .1;
            }
            .reactSvg{
                width: 16px;
                height: 16px;
                div{
                    width: 16px;
                    height: 16px;
                }
            }
            svg, img{
                color: inherit;
                width: 16px;
                height: 16px;
            }
        }
    }
}